$dark: #1D1D2E;
$dark--background: #27293D;
$orange: #FDA085;
$orange--hover: #db7d6e;
$yellow: #F6D365;
$grey: #4F5160;
$rounding: 10px;
$blue: #4281A4;
$red: #ff4d4d;
@mixin rounding {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@mixin button {
  padding: 4% 5%;
  border: none;
  -webkit-border-radius: $rounding;
  -moz-border-radius: $rounding;
  border-radius: $rounding;
  font-weight: bold;
  font-size: 0.8rem;
}
@mixin shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}