$dark: #1D1D2E;
$dark--background: #27293D;
$orange: #FDA085;
$orange--hover: #db7d6e;
$yellow: #F6D365;
$grey: #4F5160;
$rounding: 10px;
$blue: #4281A4;
$red: #ff4d4d;
$red--hover: #e24444;
.yellow--bg {
  background: $yellow;
}

@mixin rounding {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


@mixin shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

@mixin button {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  background: $orange;
  font-size: 1rem;
  border: none;
  padding: 4%;

  color: white;
  @include rounding;
  font-weight: bold;
  &:hover {
    background-color: $orange--hover;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
@mixin button--hollow {
  @include button;
  background: none;
  border: $orange solid 2px;
  &:hover {
    border: none;
  }
}

@mixin textInput {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  background: rgba($dark, 1);
  //border: $yellow solid 2px;
  border: none;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 4%;

  color: $yellow;

  &:hover {
    @include shadow;
    background: $yellow;
    color: white;

  }

  &:focus {
    outline: none;
    @include shadow;
    background: $yellow;
    color: white;
  }
}