@import "vars";

.waiverReview__allDone {
  grid-column: 1/3;
  grid-row: 1/3;

  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    width: 35vw;
    background: $dark--background;
    height: 40vw;
    @include rounding;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin: auto;
      justify-self: center;
      width: 80%;
    }

    h1 {
      text-align: center;
      color: $yellow--brand;
      font-weight: bold;
      font-size: 2rem;
      margin-top: auto;
      margin-bottom: 5%;
    }
  }
}

.waiverReview {

  display: grid;
  grid-template-rows: 80vh 10vh;
  grid-template-columns: auto 67.50vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
  height: 90vh;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;

  .controls {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2vh;

    button {
      @include button--hollow;
      width: 40%;
      font-size: 1rem;
      padding: 1% 2%;
      display: block;
      height: 3rem
    }
  }

  .personInfo.small {
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .personInfo {
    grid-row: 1/3;
    margin-bottom: 2vh;
    @include rounding;
    background: $dark--background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;

    h1 {
      cursor: pointer;
      margin-top: auto;
      font-size: 3rem;
      font-weight: bold;
    }

    h2 {
      cursor: pointer;
      margin-top: 1%;
      font-size: 2rem;
      font-weight: 100;
    }

    p {
      cursor: pointer;
      margin-top: 2%;
      margin-bottom: auto;
    }

    button {
      width: 100%;
      margin: 0 2%;
      padding: 2%;
      @include rounding;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      background: $yellow;
    }

    .orange--bg {
      background: $orange;
    }

    .buttonRow {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .waiverContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $dark--background;
    @include rounding;

    div {
      flex-direction: column;
      align-content: center;
      display: flex;
      justify-content: center;
    }

    *, *:before, *:after {
      box-sizing: border-box;
      position: relative;
    }

    svg {
      display: block;

      margin: 0;
      padding: 0;
    }

    .spinner {
      width: 66px;
      height: 66px;
      margin: 2% auto;
      animation: contanim 2s linear infinite;
    }

    $colors: #84EBBD, #4977EC, #F6BB67, #333841;
    $d: 175.6449737548828;

    svg {
      width: 100%;
      height: 100%;

      left: 0;
      top: 0;
      position: absolute;

      transform: rotate(-90deg);

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) circle {
          stroke: nth($colors, $i);
          stroke-dasharray: 1, 300;
          stroke-dashoffset: 0;

          animation: strokeanim 3s calc(.2s * (#{$i})) ease infinite;
          transform-origin: center center;
        }
      }
    }

    @keyframes strokeanim {
      0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$d / 3;
      }
      100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$d;
      }
    }

    @keyframes contanim {
      100% {
        transform: rotate(360deg)
      }
    }
  }

  .waiver {
    width: 100%;

    @include rounding;
    background: white;
  }

  .waiver__declineModal {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    background: linear-gradient(180deg, $dark--background 0%, $dark 100%);
    z-index: 15;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border: $grey solid 1px;
    padding: 2%;
    @include rounding;

    h1 {
      font-size: 3rem;
      color: $yellow;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: auto;
      height: 80%;

      textarea {
        padding: 2% 1%;
        font-size: 1rem;
        color: white;
        @include transition;
        min-height: 15rem;
        background: $dark;
        border: 1px solid $grey;
        @include rounding;
        &:focus {
          outline: none;
          border: 2px solid $yellow;
        }
        &:hover {
          border: 2px solid $yellow;
        }
      }

      .submit {

      }

      button {
        margin-top: auto;
        @include button;

      }
    }

  }

  ::-webkit-input-placeholder {
    color: $grey--light;
  }
}